
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.4rem;
}.uddn-op1-6PT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7d3eb;

  .auto-group-9vss-HTw {
    position: relative;
    flex-shrink: 0;
    width: 296.9602rem;
    height: 158.3328rem;

    .rectangle-38-P37 {
      left: 0;
      top: 0;
      background-color: #f7d3eb;
      width: 192rem;
      height: 95.6rem;
      position: absolute;
    }
    .bg-pattern-tkZ {
      left: 109rem;
      top: 16.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 65.3756rem;
      height: 70.8741rem;
      position: absolute;
    }
    .rectangle-8-cgZ {
      border-radius: 0.8rem;
      width: 31.7rem;
      height: 6.8rem;
      position: absolute;
      left: 33.3rem;
      top: 70.9rem;
      background-color: #030ba6;
    }
    .vector-vx9 {
      vertical-align: top;
      width: 1.3027rem;
      height: 0.9896rem;
      position: absolute;
      left: 58.3213rem;
      top: 75.6039rem;
      object-fit: contain;
    }
    .register-now-rau {
      font-family: Rakkas, 'Source Sans Pro';
      width: 27rem;
      height: 7.1rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #f7d3eb;
      letter-spacing: 0.32rem;
      white-space: nowrap;
      position: absolute;
      left: 35.7rem;
      top: 71rem;
      font-size: 3.2rem;
      line-height: 2.2000000477;
    }
    .an-online-platform-to-help-women-who-have-taken-a-break-in-their-careers-to-rejoin-the-workforce-with-confidence-JC1 {
      left: 33.3rem;
      font-weight: 400;
      line-height: 1.5217391304;
      letter-spacing: 0.092rem;
      color: #030ba6;
      width: 59rem;
      height: 14rem;
      position: absolute;
      top: 57.3rem;
      font-size: 2.3rem;
      font-family: Chivo, 'Source Sans Pro';
    }
    .rectangle-39-XqT {
      border-radius: 0.8rem;
      width: 57rem;
      height: 5.9rem;
      position: absolute;
      left: 32.4rem;
      top: 47.8rem;
      background-color: #030ba6;
    }
    .your-throne-has-been-waiting-rMw {
      width: 60.3rem;
      position: absolute;
      left: 33rem;
      top: 24.2rem;
      font-weight: 400;
      text-transform: capitalize;
      font-family: Rakkas, 'Source Sans Pro';
      height: 19.9rem;
      font-size: 9rem;
      line-height: 1.1;
      color: #030ba6;
    }
    .its-time-to-make-your-comeback-Z1T {
      letter-spacing: 0.32rem;
      font-family: Rakkas, 'Source Sans Pro';
      white-space: nowrap;
      width: 54.1rem;
      position: absolute;
      top: 48.4rem;
      font-weight: 400;
      text-transform: capitalize;
      color: #f7d3eb;
      height: 4.7rem;
      left: 34rem;
      font-size: 3.2rem;
      line-height: 1.4500000477;
    }
    .rectangle-7-Sb3 {
      background-color: #030ba6;
      width: 192rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 5.5rem;
    }
    .social-PWH {
      width: 13.1273rem;
      height: 1.3854rem;
      position: absolute;
      left: 25.6533rem;
      top: 2.0781rem;
      display: flex;
      column-gap: 3.0063rem;
      align-items: center;

      .vector-4sK {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 0.7516rem;
        height: 1.3854rem;
      }
      .vector-DER {
        margin-bottom: 0.099rem;
        width: 1.1023rem;
        height: 1.0885rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-xC1 {
        margin-bottom: 0.099rem;
        width: 1.0522rem;
        height: 1.0885rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-Hk5 {
        height: 0.9653rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0243rem;
        width: 1.2025rem;
      }
    }
    .objects-pk1 {
      position: absolute;
      left: 97.2rem;
      top: 12rem;
      object-fit: contain;
      vertical-align: top;
      width: 39.662rem;
      height: 39.662rem;
    }
    .objects-ktZ {
      overflow: hidden;
      width: 21.3rem;
      height: 21.3rem;
      position: absolute;
      left: 170.7rem;
      top: 14rem;
    }
    .vector-6Sd {
      height: 21.0781rem;
      position: absolute;
      left: 181.1767rem;
      top: 21.0781rem;
      object-fit: contain;
      vertical-align: top;
      width: 21.3444rem;
    }
    .vector-19-EHw {
      top: 51rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.8rem;
      width: 15rem;
      height: 15.5rem;
      position: absolute;
      left: 150.4rem;
    }
    .group-43-8u7 {
      top: 80.5rem;
      width: 23.7292rem;
      height: 5.3956rem;
      position: absolute;
      left: 34.0708rem;

      .group-42-TwP {
        top: 2.3279rem;
        object-fit: contain;
        vertical-align: top;
        width: 23.5857rem;
        height: 3.0677rem;
        position: absolute;
        left: 0;
      }
      .learning-partner-Cty {
        white-space: nowrap;
        height: 3.5rem;
        position: absolute;
        left: 0.3292rem;
        top: 0;
        font-weight: 400;
        letter-spacing: 0.64rem;
        width: 23.4rem;
        font-size: 1.6rem;
        line-height: 2.1875;
        color: #563b56;
        font-family: Chivo, 'Source Sans Pro';
      }
    }
    .group-44-WPs {
      background-position: center;
      background-image: url('REPLACE_IMAGE:1:62');
      height: 63.729rem;
      left: 0;
      top: 94.6039rem;
      background-size: cover;
      width: 296.9602rem;
      position: absolute;
      background-repeat: no-repeat;

      .vector-djP {
        object-fit: contain;
        vertical-align: top;
        width: 3.0063rem;
        height: 3.248rem;
        position: absolute;
        left: 132.776rem;
        top: 57.2383rem;
      }
      .vector-9hj {
        object-fit: contain;
        vertical-align: top;
        width: 3.0063rem;
        height: 3.248rem;
        position: absolute;
        left: 51.9079rem;
        top: 35.5796rem;
      }
      .vector-67B {
        left: 152.6624rem;
        top: 51.3865rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.0063rem;
        height: 3.248rem;
        position: absolute;
      }
      .mask-group-2Wd {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 193.2017rem;
        height: 63.729rem;
        position: absolute;
      }
      .navbar-NaV {
        width: 218.497rem;
        height: 19.797rem;
        position: absolute;
        left: 78.0623rem;
        top: 6.5258rem;

        .group-27-Trq {
          width: 36.3756rem;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .auto-group-yjns-oQu {
            width: 13.8379rem;
            flex-shrink: 0;
            margin: 0rem 1.005rem 0.01rem 0rem;

            .auto-group-kc8f-AYH {
              margin-bottom: 0.9154rem;
              display: flex;
              align-items: flex-end;

              .vector-JPb {
                margin: 0rem 0.634rem 0.002rem 0rem;
                width: 3.8638rem;
                height: 5.4434rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-dRs {
                height: 5.4436rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.7919rem;
                width: 3.5215rem;
              }
              .vector-yVj {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.786rem 0.002rem 0rem;
                width: 1.3173rem;
                height: 5.6831rem;
              }
              .vector-7M3 {
                width: 2.5676rem;
                height: 4.1393rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0019rem;
              }
            }
            .auto-group-xuwz-rpR {
              width: 100%;
              display: flex;
              align-items: center;

              .vector-1xD {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.0054rem;
                width: 6.2712rem;
                height: 8.8559rem;
                object-fit: contain;
              }
              .vector-N25 {
                margin-top: 0.0128rem;
                width: 6.5613rem;
                height: 8.8401rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-iku5-hq3 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 21.5323rem;
            height: 100%;

            .auto-group-sh8k-F5s {
              margin: 0rem 2.766rem 0.661rem 1.279rem;
              width: calc(100% - 4.0452rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .vector-ma1 {
                height: 5.6993rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 2.241rem 0.559rem 0rem 0rem;
                width: 3.7518rem;
              }
              .vector-hiZ {
                margin: 3.609rem 1.01rem 0rem 0rem;
                width: 3.9265rem;
                height: 4.2235rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-dMK {
                width: 8.2402rem;
                height: 12.3675rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .auto-group-mp8f-yRB {
              width: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .vector-Xhb {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.002rem 1.005rem 0rem 0rem;
                width: 6.7511rem;
                height: 6.7656rem;
              }
              .vector-4hX {
                margin: 0.002rem 1.259rem 0rem 0rem;
                width: 6.7511rem;
                height: 6.7656rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-Pjo {
                vertical-align: top;
                flex-shrink: 0;
                width: 5.7658rem;
                height: 6.6083rem;
                object-fit: contain;
              }
            }
          }
        }
      }
      .to-help-women-who-have-taken-a-break-in-their-career-to-reclaim-their-workspace-with-confidence-we-believe-that-these-women-have-the-right-to-upskill-regain-their-confidenceto-restart-their-careers-8xH {
        top: 47.9961rem;
        font-weight: 400;
        color: #ebb4c0;
        height: 10.8rem;
        left: 37.9rem;
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.5652173913;
        letter-spacing: 0.092rem;
        font-family: Chivo, 'Source Sans Pro';
        width: 116.6rem;
        position: absolute;
      }
      .an-initiative-by-LoT {
        width: 36.1rem;
        height: 2.8rem;
        position: absolute;
        top: 29.4961rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 1.1375rem;
        text-transform: capitalize;
        color: #ebb4c0;
        white-space: nowrap;
        left: 79rem;
        font-family: Chivo, 'Source Sans Pro';
      }
      .rectangle-43-pyX {
        border-radius: 0.9rem;
        width: 47.8rem;
        height: 11rem;
        position: absolute;
        left: 72.3rem;
        top: 34.1961rem;
        background-color: #ffffff;
      }
      .group-34-LBB {
        top: 15.6354rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 75.7575rem;
        height: 12.5677rem;
        position: absolute;
        left: 58.5217rem;

        .vector-rQR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 10.422rem 1.187rem 0rem;
          width: 3.0063rem;
          height: 2.9687rem;
        }
        .vector-NtZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5.5115rem;
          height: 5.4427rem;
        }
        .vector-7bF {
          width: 3.0063rem;
          height: 2.9687rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 72.7512rem;
        }
      }
      .tdh-logoenglish-FSZ {
        vertical-align: top;
        width: 47rem;
        height: 12.0744rem;
        position: absolute;
        left: 72.7rem;
        top: 33.4961rem;
        object-fit: cover;
      }
      .rectangle-40-NXB {
        width: 192rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 0.8961rem;
        background-color: #e0e0e0;
      }
    }
    .mask-group-H8M {
      height: 84.9791rem;
      position: absolute;
      left: 105.2188rem;
      top: 9.0052rem;
      object-fit: contain;
      vertical-align: top;
      width: 60.5258rem;
    }
    .navbar-BzR {
      width: 165.6712rem;
      height: 12.4687rem;
      position: absolute;
      left: 33.0688rem;
      top: 7.026rem;

      .group-27-7t5 {
        width: 22.9104rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .auto-group-ntiw-54D {
          flex-shrink: 0;
          margin: 0rem 0.633rem 0.007rem 0rem;
          width: 8.7155rem;

          .auto-group-7zmy-Ced {
            margin-bottom: 0.5765rem;
            display: flex;
            align-items: flex-end;

            .vector-kAM {
              flex-shrink: 0;
              margin: 0rem 0.399rem 0.001rem 0rem;
              width: 2.4335rem;
              height: 3.4284rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-g41 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4988rem;
              width: 2.218rem;
              height: 3.4285rem;
              object-fit: contain;
            }
            .vector-1ry {
              margin: 0rem 0.495rem 0.001rem 0rem;
              width: 0.8297rem;
              height: 3.5793rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-kZf {
              margin-bottom: 0.0012rem;
              width: 1.6171rem;
              height: 2.607rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-thmh-Vn9 {
            width: 100%;
            display: flex;
            align-items: center;

            .vector-rsb {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.6332rem;
              width: 3.9498rem;
              height: 5.5777rem;
            }
            .vector-DCM {
              width: 4.1325rem;
              height: 5.5678rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0081rem;
            }
          }
        }
        .auto-group-ubb5-kxy {
          width: 13.5617rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-gjwb-72q {
            width: calc(100% - 2.5478rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.742rem 0.417rem 0.806rem;

            .vector-qDj {
              height: 3.5896rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 1.412rem 0.352rem 0rem 0rem;
              width: 2.363rem;
            }
            .vector-ZvR {
              height: 2.6601rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 2.273rem 0.636rem 0rem 0rem;
              width: 2.473rem;
            }
            .vector-hmj {
              width: 5.1899rem;
              height: 7.7894rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-v3dh-ews {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .vector-Qw3 {
              flex-shrink: 0;
              margin: 0.002rem 0.633rem 0rem 0rem;
              width: 4.252rem;
              height: 4.2612rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-9Nq {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.002rem 0.793rem 0rem 0rem;
              width: 4.252rem;
              height: 4.2612rem;
              object-fit: contain;
            }
            .vector-tLR {
              height: 4.1621rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.6315rem;
            }
          }
        }
      }
    }
  }
  .auto-group-l999-2Bj {
    box-sizing: border-box;
    padding: 4.267rem 0rem 10.9rem 0.2rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-w7ct-9XF {
      width: calc(100% - 13.2rem);
      height: 69.7534rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 13.347rem 13.2rem;

      .auto-group-gxap-TXw {
        width: 77.99rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 9.9206rem;

        .star-z25 {
          width: 19.7rem;
          height: 19.7rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-8PB {
          position: absolute;
          left: 11.9527rem;
          top: 6.5193rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.8rem;
          width: 66.0373rem;
          height: 63.2342rem;
        }
        .group-36-41w {
          position: absolute;
          letter-spacing: 0.144rem;
          font-family: Rakkas, 'Source Sans Pro';
          align-items: center;
          background-color: #030ba6;
          justify-content: center;
          border-radius: 0.8rem;
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
          width: 27.6575rem;
          left: 31.1927rem;
          font-weight: 400;
          line-height: 1.49;
          white-space: nowrap;
          height: 6.6302rem;
          top: 59.1649rem;
          font-size: 3.6rem;
          display: flex;
          color: #f7d3eb;
        }
        .you-are-a-woman-who-have-taken-a-break-in-your-career--GNu {
          font-size: 4.8rem;
          letter-spacing: 0.48rem;
          text-transform: capitalize;
          height: 16.7rem;
          position: absolute;
          left: 14.5581rem;
          line-height: 1.1549999714;
          color: #030ba6;
          font-family: Rakkas, 'Source Sans Pro';
          width: 56.2rem;
          top: 9.2901rem;
          font-weight: 400;
        }
        .group-35-jnH {
          position: absolute;
          left: 14.2575rem;
          top: 27.9932rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 63.3872rem;
          height: 27.7068rem;

          .auto-group-eyrh-5LM {
            box-sizing: border-box;
            padding-bottom: 0.4712rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-dwzo-cbB {
              position: relative;
              flex-shrink: 0;
              margin-bottom: 1.1875rem;
              width: 46.2496rem;
              height: 5.8385rem;

              .vector-MHs {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 5.7761rem;
                height: 5.8385rem;
              }
              .register-for-the-phir-se-udaan-event-hcd {
                font-family: Chivo, 'Source Sans Pro';
                height: 5.6rem;
                top: 0;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 2.4347826087;
                letter-spacing: 0.092rem;
                color: #563b56;
                width: 43.9rem;
                position: absolute;
                left: 2.3496rem;
                white-space: nowrap;
              }
            }
            .auto-group-t78b-Zuj {
              margin-bottom: 0.0416rem;
              width: 56.8496rem;
              height: 6.9844rem;
              position: relative;
              flex-shrink: 0;

              .vector-JsK {
                width: 5.7761rem;
                height: 5.8385rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .get-a-chance-to-be-mentored-by-hr-professionals-from-established-organziations-TVK {
                font-family: Chivo, 'Source Sans Pro';
                width: 54.5rem;
                position: absolute;
                left: 2.3496rem;
                top: 1.4844rem;
                line-height: 1.19;
                letter-spacing: 0.092rem;
                color: #563b56;
                height: 5.5rem;
                font-size: 2.3rem;
                font-weight: 400;
              }
            }
            .auto-group-hs7m-KGd {
              width: 58.5872rem;
              height: 6.5548rem;
              position: relative;
              flex-shrink: 0;

              .vector-GBs {
                height: 5.8385rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 5.7761rem;
              }
              .explore-career-opportunities-in-different-fields-cWd {
                width: 56.1rem;
                position: absolute;
                left: 2.4872rem;
                font-size: 2.3rem;
                letter-spacing: 0.092rem;
                white-space: nowrap;
                height: 2.8rem;
                top: 3.7548rem;
                font-weight: 400;
                line-height: 1.19;
                color: #563b56;
                font-family: Chivo, 'Source Sans Pro';
              }
            }
          }
          .auto-group-admq-6gh {
            flex-shrink: 0;
            width: 100%;
            height: 6.6288rem;
            position: relative;

            .vector-rA5 {
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.7761rem;
              height: 5.8385rem;
              position: absolute;
            }
            .get-upskilled-in-data-analytics-business-analytics-12y {
              height: 2.8rem;
              position: absolute;
              top: 3.8288rem;
              font-size: 2.3rem;
              font-weight: 400;
              width: 60.9rem;
              left: 2.4872rem;
              line-height: 1.19;
              letter-spacing: 0.092rem;
              color: #563b56;
              font-family: Chivo, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .vector-5Yd {
          top: 35.0192rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.0063rem;
          height: 2.9687rem;
          position: absolute;
          left: 3.3348rem;
        }
        .vector-pFK {
          vertical-align: top;
          width: 3.0063rem;
          height: 2.9687rem;
          position: absolute;
          left: 6.6868rem;
          top: 45.7066rem;
          object-fit: contain;
        }
      }
      .auto-group-zx5q-9YV {
        width: 99.3065rem;
        height: 63.2342rem;
        position: relative;
        flex-shrink: 0;

        .group-29-tFB {
          width: 33.7702rem;
          height: 42.9478rem;
          position: absolute;
          left: 65.5363rem;
          top: 19.4947rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-nbT {
          vertical-align: top;
          border-radius: 0.8rem;
          width: 66.0373rem;
          height: 63.2342rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .group-45-jFo {
          width: 58.805rem;
          height: 21.1354rem;
          position: absolute;
          left: 3.0063rem;
          top: 21.4739rem;

          .auto-group-iddz-43B {
            width: 43.305rem;
            height: 5.8385rem;
            position: relative;
            margin-bottom: 1.1875rem;

            .vector-nzm {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.9123rem;
              height: 5.8385rem;
            }
            .get-access-to-over-500-experience-women-professionals-jf7 {
              height: 5.5rem;
              line-height: 1.19;
              letter-spacing: 0.092rem;
              color: #563b56;
              width: 40.9rem;
              position: absolute;
              left: 2.405rem;
              top: 0;
              font-size: 2.3rem;
              font-weight: 400;
              font-family: Chivo, 'Source Sans Pro';
            }
          }
          .auto-group-cak1-2PK {
            margin-bottom: 0.0416rem;
            width: 100%;
            height: 6.9844rem;
            position: relative;

            .vector-a9w {
              height: 5.8385rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.9123rem;
            }
            .increase-your-brand-value-by-recruiting-women-who-have-taken-a-career-break-j2q {
              height: 5.5rem;
              left: 2.405rem;
              top: 1.4844rem;
              line-height: 1.19;
              font-family: Chivo, 'Source Sans Pro';
              width: 56.4rem;
              position: absolute;
              font-size: 2.3rem;
              font-weight: 400;
              letter-spacing: 0.092rem;
              color: #563b56;
            }
          }
          .auto-group-hloy-baq {
            width: 57.205rem;
            height: 7.0833rem;
            position: relative;

            .vector-Yky {
              vertical-align: top;
              width: 5.9123rem;
              height: 5.8385rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .mentor-women-professional-and-give-them-the-confidence-to-restart-their-careers-JVF {
              font-family: Chivo, 'Source Sans Pro';
              width: 54.8rem;
              position: absolute;
              left: 2.405rem;
              letter-spacing: 0.092rem;
              color: #563b56;
              height: 5.5rem;
              top: 1.5833rem;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.19;
            }
          }
        }
        .you-are-a-hr-recruitment-professional-BJ9 {
          top: 2.7708rem;
          font-size: 4.8rem;
          line-height: 1.1549999714;
          color: #030ba6;
          left: 3.0063rem;
          height: 22.2rem;
          position: absolute;
          font-weight: 400;
          letter-spacing: 0.48rem;
          text-transform: capitalize;
          font-family: Rakkas, 'Source Sans Pro';
          width: 32.7rem;
        }
        .group-37-fz1 {
          border-radius: 0.8rem;
          width: 34.8725rem;
          height: 8.3351rem;
          position: absolute;
          left: 15.6325rem;
          top: 52.6457rem;
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);

          .rectangle-41-1ny {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #030ba6;
            border-radius: 0.8rem;
            width: 34.8725rem;
            height: 6.6302rem;
          }
          .join-phir-se-udaan-9eH {
            height: 5.4rem;
            left: 2.6569rem;
            font-size: 3.6rem;
            line-height: 1.49;
            white-space: nowrap;
            width: 29.7rem;
            position: absolute;
            top: 2.9351rem;
            font-weight: 400;
            letter-spacing: 0.144rem;
            color: #f7d3eb;
            font-family: Rakkas, 'Source Sans Pro';
          }
        }
      }
    }
    .background-DPF {
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:1:133');
      width: 192rem;
      height: 48.9rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      background-size: cover;
      flex-shrink: 0;
      margin-right: 0.2rem;

      .auto-group-jdrw-wq3 {
        width: 110.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .vector-Vbf {
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 52rem;
          top: 42.9rem;
        }
        .vector-SG1 {
          height: 35.4rem;
          position: absolute;
          left: 0;
          top: 5.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 35.4rem;
        }
        .vector-aND {
          width: 80.431rem;
          height: 87.9985rem;
          position: absolute;
          left: 13.8rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .group-46-izD {
          height: 12.1rem;
          position: absolute;
          left: 29.6rem;
          top: 30.1rem;
          width: 47.8rem;

          .rectangle-43-f8m {
            border-radius: 0.9rem;
            width: 47.8rem;
            height: 11rem;
            position: absolute;
            left: 0;
            top: 1.1rem;
            background-color: #ffffff;
          }
          .tdh-logoenglish-bYD {
            width: 47rem;
            height: 12.0744rem;
            position: absolute;
            left: 0.4rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .artboard-103x-1-Kz1 {
          width: 83.3rem;
          height: 22.2rem;
          position: absolute;
          left: 11.8rem;
          top: 42.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-9wsd-T4d {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 9.705rem 4.871rem 0rem 0rem;
        width: 62.8rem;

        .auto-group-7vef-a9F {
          margin-bottom: 2.405rem;
          width: 100%;
          height: 27.8rem;
          position: relative;
          flex-shrink: 0;

          .vector-XKP {
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            position: absolute;
            left: 51.845rem;
            top: 24.8rem;
          }
          .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-4q7 {
            width: 62.8rem;
            line-height: 1.4099999837;
            top: 0;
            font-size: 2.8rem;
            font-weight: 400;
            letter-spacing: 0.112rem;
            color: #ffffff;
            height: 27.7rem;
            position: absolute;
            left: 0;
            font-family: Chivo, 'Source Sans Pro';

            .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-4q7-sub-0 {
              letter-spacing: 0.112rem;
              color: #ffffff;
              font-family: Chivo, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              line-height: 1.4099999837;
            }
            .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-4q7-sub-1 {
            }
            .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-4q7-sub-2 {
              font-size: 2.8rem;
              font-weight: 700;
              line-height: 1.4099999837;
              letter-spacing: 0.112rem;
              color: #ffffff;
              font-family: Chivo, 'Source Sans Pro';
            }
            .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-4q7-sub-3 {
            }
          }
        }
        .vector-ABK {
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 4.2rem;
          width: 3rem;
        }
      }
      .auto-group-qspp-VzH {
        width: 40.6917rem;
        height: 73.3527rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .group-41-oEH {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    padding: 0.941rem 21.759rem 14.8rem 22.134rem;
    width: 100%;
    height: 42.4rem;
    align-items: center;
    flex-direction: column;
    background-color: #e4add2;

    .auto-group-tj43-haZ {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 5.28rem 0.025rem;
      width: calc(100% - 0.0249rem);
      height: 9.8766rem;

      .group-40-cxR {
        align-items: flex-end;
        flex-shrink: 0;
        margin-right: 131.4978rem;
        height: 100%;
        display: flex;

        .auto-group-g9tt-aPT {
          margin: 0rem 0.502rem 0.005rem 0rem;
          width: 6.9036rem;
          flex-shrink: 0;

          .auto-group-scgf-VWR {
            margin-bottom: 0.4567rem;
            display: flex;
            align-items: flex-end;

            .vector-d6q {
              width: 1.9276rem;
              height: 2.7157rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.316rem 0.001rem 0rem;
            }
            .vector-khF {
              width: 1.7569rem;
              height: 2.7158rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.3951rem;
            }
            .vector-u4M {
              height: 2.8352rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.392rem 0.001rem 0rem;
              width: 0.6572rem;
            }
            .vector-1t5 {
              height: 2.0651rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.0009rem;
              width: 1.2809rem;
            }
          }
          .auto-group-wxpd-MS9 {
            width: 100%;
            display: flex;
            align-items: center;

            .vector-hku {
              margin-right: 0.5016rem;
              width: 3.1287rem;
              height: 4.4182rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-eRF {
              width: 3.2734rem;
              height: 4.4103rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0063rem;
            }
          }
        }
        .auto-group-xzku-Ns3 {
          width: 10.7423rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-mh11-XV3 {
            flex-shrink: 0;
            margin: 0rem 1.38rem 0.33rem 0.638rem;
            width: calc(100% - 2.0181rem);
            display: flex;
            align-items: center;

            .vector-FR3 {
              vertical-align: top;
              flex-shrink: 0;
              margin: 1.118rem 0.279rem 0rem 0rem;
              width: 1.8717rem;
              height: 2.8433rem;
              object-fit: contain;
            }
            .vector-ybw {
              margin: 1.8rem 0.504rem 0rem 0rem;
              width: 1.9589rem;
              height: 2.1071rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-KA1 {
              width: 4.111rem;
              height: 6.1701rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-8qrk-fjf {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-pMf {
              flex-shrink: 0;
              margin: 0.001rem 0.502rem 0rem 0rem;
              width: 3.3681rem;
              height: 3.3753rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-wx5 {
              margin: 0.001rem 0.628rem 0rem 0rem;
              width: 3.3681rem;
              height: 3.3753rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-5Hb {
              flex-shrink: 0;
              margin-bottom: 0.0797rem;
              width: 2.8765rem;
              height: 3.2968rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .social-cYR {
        margin: 4.694rem 0rem 3.192rem 0rem;
        height: calc(100% - 7.8853rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-wKo {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.3209rem;
          width: 1.0802rem;
          height: 1.9912rem;
          object-fit: contain;
        }
        .vector-gYH {
          margin: 0rem 4.321rem 0.142rem 0rem;
          width: 1.5843rem;
          height: 1.5645rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-DHK {
          margin: 0rem 4.321rem 0.142rem 0rem;
          width: 1.5123rem;
          height: 1.5645rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-YKb {
          margin-bottom: 0.0349rem;
          width: 1.7283rem;
          height: 1.3874rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .rectangle-sMs {
      background-color: #030ba6;
      flex-shrink: 0;
      margin: 0rem 0.375rem 1.259rem 0rem;
      width: 168.1627rem;
      height: 0.1437rem;
    }
    .auto-group-tzt9-zxH {
      flex-shrink: 0;
      margin-right: 0.0722rem;
      width: calc(100% - 0.0722rem);
      height: 10.1rem;
      display: flex;
      align-items: center;

      .auto-group-wv5u-w6q {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 8.5051rem;

        .copyright-2022-laa-smB {
          line-height: 2;
          color: #030ba6;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 2.943rem 87.066rem 0rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .group-32-xXj {
          margin-bottom: 1.4162rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .strategic-partner-JrV {
            font-weight: 400;
            line-height: 2.1875;
            flex-shrink: 0;
            margin: 0rem 0rem 1.495rem 0.405rem;
            font-size: 1.6rem;
            letter-spacing: 0.064rem;
            color: #030ba6;
            font-family: Chivo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .magsmen-new-version-oHT {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 16.8949rem;
            height: 3.6888rem;
          }
        }
      }
      .group-33-84q {
        width: 15.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .marketing-weapons-logo-final-2-UeV {
          left: 4.3rem;
          top: 2.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 6.5rem;
          height: 7.5rem;
          position: absolute;
        }
        .marketing-partner-Boo {
          letter-spacing: 0.064rem;
          width: 15.4rem;
          height: 3.5rem;
          position: absolute;
          top: 0;
          font-size: 1.6rem;
          font-weight: 400;
          left: 0;
          line-height: 2.1875;
          color: #030ba6;
          font-family: Chivo, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
