
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.uddn-op2-or9 {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #fff9f2;
  width: 100%;
  overflow: hidden;

  .auto-group-tsqw-iy7 {
    width: 296.5593rem;
    height: 160rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2.6rem;

    .rectangle-38-cYh {
      width: 192rem;
      height: 95.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff9f2;
    }
    .objects-jdK {
      top: 16.923rem;
      object-fit: contain;
      vertical-align: top;
      width: 55.319rem;
      height: 78.65rem;
      position: absolute;
      left: 108.148rem;
    }
    .bg-pattern-3tu {
      left: 105rem;
      top: 22.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 65.3756rem;
      height: 70.8741rem;
      position: absolute;
    }
    .vector-ynZ {
      height: 64.4rem;
      position: absolute;
      left: 0;
      top: 95.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 192.8rem;
    }
    .vector-7ds {
      vertical-align: top;
      width: 3rem;
      height: 3.2822rem;
      position: absolute;
      left: 132.5rem;
      top: 153.441rem;
      object-fit: contain;
    }
    .vector-qpm {
      width: 3rem;
      height: 3.2822rem;
      position: absolute;
      left: 51.8rem;
      top: 131.5542rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-myK {
      width: 3rem;
      height: 3.2822rem;
      position: absolute;
      left: 152.345rem;
      top: 147.5276rem;
      object-fit: contain;
      vertical-align: top;
    }
    .mask-group-idf {
      height: 64.4rem;
      position: absolute;
      left: 0;
      top: 95.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 192.8rem;
    }
    .navbar-TLM {
      width: 218.2593rem;
      height: 20.0055rem;
      position: absolute;
      left: 77.9rem;
      top: 102.1946rem;

      .group-27-BXF {
        width: 36.3rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .auto-group-pbys-jYm {
          margin: 0rem 1.003rem 0.01rem 0rem;
          width: 13.8092rem;
          flex-shrink: 0;

          .auto-group-uh1r-efj {
            margin-bottom: 0.925rem;
            display: flex;
            align-items: flex-end;

            .vector-bL5 {
              flex-shrink: 0;
              margin: 0rem 0.633rem 0.002rem 0rem;
              width: 3.8558rem;
              height: 5.5007rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-v7T {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7903rem;
              width: 3.5142rem;
              height: 5.5009rem;
            }
            .vector-SrV {
              flex-shrink: 0;
              margin: 0rem 0.785rem 0.002rem 0rem;
              width: 1.3145rem;
              height: 5.7429rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-mNy {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.0019rem;
              width: 2.5622rem;
              height: 4.1829rem;
              object-fit: contain;
            }
          }
          .auto-group-w2jb-uk5 {
            width: 100%;
            display: flex;
            align-items: center;

            .vector-sS1 {
              height: 8.9492rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.0033rem;
              width: 6.2582rem;
            }
            .vector-ceV {
              flex-shrink: 0;
              margin-top: 0.0129rem;
              width: 6.5477rem;
              height: 8.9332rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .auto-group-7jmu-xCZ {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 21.4876rem;
          height: 100%;

          .auto-group-4rbd-5gV {
            margin: 0rem 2.76rem 0.668rem 1.276rem;
            width: calc(100% - 4.0368rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-beq {
              height: 5.7593rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 2.265rem 0.558rem 0rem 0rem;
              width: 3.744rem;
            }
            .vector-8Ps {
              width: 3.9183rem;
              height: 4.268rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 3.647rem 1.008rem 0rem 0rem;
            }
            .vector-et1 {
              width: 8.2231rem;
              height: 12.4978rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-kmvh-zgy {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .vector-Lkq {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.003rem 1.003rem 0rem 0rem;
              width: 6.7371rem;
              height: 6.8368rem;
            }
            .vector-GPb {
              height: 6.8368rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.003rem 1.256rem 0rem 0rem;
              width: 6.7371rem;
            }
            .vector-oPX {
              width: 5.7538rem;
              height: 6.6779rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .rectangle-8-9CV {
      width: 31.7rem;
      height: 6.8rem;
      position: absolute;
      left: 33.3rem;
      top: 70.9rem;
      background-color: #f3d35e;
      border-radius: 0.8rem;
    }
    .register-now-fgd {
      height: 7.1rem;
      position: absolute;
      font-weight: 400;
      letter-spacing: 0.32rem;
      text-transform: uppercase;
      color: #563b56;
      white-space: nowrap;
      width: 27rem;
      top: 71rem;
      font-size: 3.2rem;
      line-height: 2.2000000477;
      font-family: Rakkas, 'Source Sans Pro';
      left: 35.7rem;
    }
    .an-online-platform-to-help-women-who-have-taken-a-break-in-their-careers-to-rejoin-the-workforce-with-confidence-MJZ {
      position: absolute;
      top: 57.3rem;
      font-weight: 400;
      letter-spacing: 0.092rem;
      color: #563b56;
      font-family: Chivo, 'Source Sans Pro';
      width: 59rem;
      height: 14rem;
      left: 33.3rem;
      font-size: 2.3rem;
      line-height: 1.5217391304;
    }
    .to-help-women-who-have-taken-a-break-in-their-career-to-reclaim-their-workspace-with-confidence-we-believe-that-these-women-have-the-right-to-upskill-regain-their-confidenceto-restart-their-careers-QXj {
      left: 37.7rem;
      top: 142.6rem;
      letter-spacing: 0.092rem;
      color: #563b56;
      width: 116.6rem;
      height: 10.8rem;
      position: absolute;
      line-height: 1.5652173913;
      font-family: Chivo, 'Source Sans Pro';
      text-align: center;
      font-size: 2.3rem;
      font-weight: 400;
    }
    .rectangle-39-Dzy {
      position: absolute;
      left: 32.4rem;
      top: 47.8rem;
      background-color: #ebb4c0;
      border-radius: 0.8rem;
      width: 57rem;
      height: 5.9rem;
    }
    .your-throne-has-been-waiting-9td {
      font-size: 9rem;
      font-weight: 400;
      line-height: 1.1;
      text-transform: capitalize;
      color: #563b56;
      font-family: Rakkas, 'Source Sans Pro';
      top: 24.2rem;
      height: 19.9rem;
      position: absolute;
      left: 33rem;
      width: 60.3rem;
    }
    .an-initiative-by-SMw {
      color: #563b56;
      font-family: Chivo, 'Source Sans Pro';
      width: 36.1rem;
      height: 2.8rem;
      top: 124.1rem;
      font-weight: 400;
      line-height: 1.1;
      letter-spacing: 1.1375rem;
      position: absolute;
      left: 78.8rem;
      font-size: 2.5rem;
      text-transform: capitalize;
      white-space: nowrap;
    }
    .its-time-to-make-your-comeback-8kZ {
      color: #563b56;
      white-space: nowrap;
      height: 4.7rem;
      left: 34rem;
      font-weight: 400;
      letter-spacing: 0.32rem;
      text-transform: capitalize;
      font-family: Rakkas, 'Source Sans Pro';
      width: 54.1rem;
      position: absolute;
      top: 48.4rem;
      font-size: 3.2rem;
      line-height: 1.4500000477;
    }
    .navbar-Dn1 {
      width: 165.3399rem;
      height: 12.6rem;
      position: absolute;
      left: 33.7rem;
      top: 7.1rem;

      .group-27-MNR {
        width: 22.8628rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .auto-group-edjd-6qo {
          margin: 0rem 0.632rem 0.007rem 0rem;
          width: 8.6974rem;
          flex-shrink: 0;

          .auto-group-rwvr-2zM {
            display: flex;
            align-items: flex-end;
            margin-bottom: 0.5826rem;

            .vector-aW5 {
              flex-shrink: 0;
              margin: 0rem 0.398rem 0.001rem 0rem;
              width: 2.4285rem;
              height: 3.4645rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-WPj {
              flex-shrink: 0;
              margin-right: 0.4978rem;
              width: 2.2133rem;
              height: 3.4646rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-3Pf {
              margin: 0rem 0.494rem 0.001rem 0rem;
              width: 0.8279rem;
              height: 3.617rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-kYy {
              margin-bottom: 0.0012rem;
              width: 1.6138rem;
              height: 2.6345rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-xh3v-rru {
            display: flex;
            align-items: center;
            width: 100%;

            .vector-c5P {
              flex-shrink: 0;
              margin-right: 0.6319rem;
              width: 3.9416rem;
              height: 5.6365rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-jvh {
              margin-top: 0.0081rem;
              width: 4.1239rem;
              height: 5.6264rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-j9rp-5jf {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 13.5335rem;

          .auto-group-qeo9-2uo {
            flex-shrink: 0;
            margin: 0rem 1.739rem 0.421rem 0.804rem;
            width: calc(100% - 2.5425rem);
            display: flex;
            align-items: center;

            .vector-xoT {
              height: 3.6274rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 1.426rem 0.351rem 0rem 0rem;
              width: 2.3581rem;
            }
            .vector-fSy {
              margin: 2.297rem 0.635rem 0rem 0rem;
              width: 2.4679rem;
              height: 2.6881rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-zVF {
              vertical-align: top;
              flex-shrink: 0;
              width: 5.1791rem;
              height: 7.8715rem;
              object-fit: contain;
            }
          }
          .auto-group-wm75-8bT {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            width: 100%;

            .vector-t4q {
              margin: 0.002rem 0.632rem 0rem 0rem;
              width: 4.2432rem;
              height: 4.306rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-oxV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.002rem 0.791rem 0rem 0rem;
              width: 4.2432rem;
              height: 4.306rem;
            }
            .vector-MDK {
              width: 3.6239rem;
              height: 4.2059rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .rectangle-7-VqK {
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 5.5rem;
      background-color: #e0e0e0;
      width: 192rem;
    }
    .rectangle-40-EH7 {
      position: absolute;
      left: 0;
      top: 95.6rem;
      background-color: #e0e0e0;
      width: 192rem;
      height: 0.1rem;
    }
    .social-MsX {
      position: absolute;
      left: 25.6rem;
      top: 2.1rem;
      display: flex;
      column-gap: 3rem;
      align-items: center;
      width: 13.1rem;
      height: 1.4rem;

      .vector-VD3 {
        width: 0.75rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-EgR {
        margin-bottom: 0.1rem;
        width: 1.1rem;
        height: 1.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-PJR {
        margin-bottom: 0.1rem;
        width: 1.05rem;
        height: 1.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-w53 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0245rem;
        width: 1.2rem;
        height: 0.9755rem;
      }
    }
    .objects-Uam {
      width: 39.662rem;
      height: 39.662rem;
      position: absolute;
      left: 99.3rem;
      top: 16.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .objects-DHT {
      width: 21.3rem;
      height: 21.3rem;
      position: absolute;
      left: 170.7rem;
      top: 14rem;
      overflow: hidden;
    }
    .vector-wjF {
      vertical-align: top;
      width: 21.3rem;
      height: 21.3rem;
      position: absolute;
      left: 180.8rem;
      top: 21.3rem;
      object-fit: contain;
    }
    .vector-19-UjB {
      left: 144.8rem;
      top: 51.3rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.8rem;
      width: 15rem;
      height: 15.5rem;
      position: absolute;
    }
    .mask-group-YDF {
      top: 17rem;
      object-fit: contain;
      vertical-align: top;
      width: 55.319rem;
      height: 78.65rem;
      position: absolute;
      left: 105.8rem;
    }
    .group-30-sWR {
      display: flex;
      align-items: flex-start;
      width: 93.595rem;
      height: 65.6rem;
      position: absolute;
      left: 10rem;
      top: 17.5rem;

      .vector-bhK {
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.5rem 66.5rem 0rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
      .vector-L97 {
        margin: 62.6rem 7.491rem 0rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-rt9 {
        margin-right: 5.104rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-v5vp-c6d {
        flex-shrink: 0;
        margin: 4.25rem 0rem 5.405rem 0rem;
        height: calc(100% - 9.655rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .vector-8am {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 47.445rem;
          width: 5.5rem;
          height: 5.5rem;
          object-fit: contain;
        }
        .vector-Ued {
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .group-34-ckq {
      height: 12.7rem;
      position: absolute;
      left: 58.4rem;
      top: 111.4rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 75.6rem;

      .vector-MCd {
        margin: 0rem 10.4rem 1.2rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-V3w {
        flex-shrink: 0;
        width: 5.5rem;
        height: 5.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-nYq {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 72.6rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
    }
    .vector-ixH {
      position: absolute;
      left: 171.9rem;
      top: 47.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.5rem;
      height: 5.5rem;
    }
    .group-29-s4V {
      width: 28.668rem;
      height: 28.668rem;
      position: absolute;
      left: 163.4rem;
      top: 66.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .tdh-logoenglish-bWH {
      position: absolute;
      left: 72.5rem;
      top: 128.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 47rem;
      height: 12.0744rem;
    }
    .group-43-j6h {
      left: 33.3rem;
      top: 80.6rem;
      width: 23.8rem;
      height: 6.3rem;
      position: absolute;

      .group-42-GMX {
        vertical-align: top;
        width: 23.5366rem;
        height: 3.1rem;
        position: absolute;
        left: 0;
        top: 3.2rem;
        object-fit: contain;
      }
      .learning-partner-QTj {
        height: 3.5rem;
        left: 0.4rem;
        font-weight: 400;
        line-height: 2.1875;
        color: #563b56;
        white-space: nowrap;
        width: 23.4rem;
        position: absolute;
        top: 0;
        font-size: 1.6rem;
        letter-spacing: 0.64rem;
        font-family: Chivo, 'Source Sans Pro';
      }
    }
  }
  .auto-group-jg9v-hBw {
    margin: 0rem 0rem 10.9rem 13.1rem;
    width: calc(100% - 13.1rem);
    height: 72.2rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-hhkv-p1f {
      position: relative;
      flex-shrink: 0;
      margin-right: 9.9rem;
      width: 77.8rem;
      height: 100%;

      .star-M1b {
        height: 19.7rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 19.7rem;
      }
      .vector-gpZ {
        border-radius: 0.8rem;
        width: 65.9rem;
        height: 63.9rem;
        position: absolute;
        left: 11.9rem;
        top: 8.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-36-x1P {
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
        font-size: 3.6rem;
        line-height: 1.49;
        color: #563b56;
        border-radius: 0.8rem;
        width: 27.6rem;
        position: absolute;
        left: 31.1rem;
        align-items: center;
        justify-content: center;
        background-color: #f3ce59;
        font-family: Rakkas, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        letter-spacing: 0.144rem;
        height: 6.7rem;
        top: 61.5rem;
        font-weight: 400;
      }
      .you-are-a-woman-who-have-taken-a-break-in-your-career--mDj {
        line-height: 1.1549999714;
        text-transform: capitalize;
        font-family: Rakkas, 'Source Sans Pro';
        font-weight: 400;
        letter-spacing: 0.48rem;
        width: 56.2rem;
        height: 16.7rem;
        position: absolute;
        left: 14.5rem;
        top: 11.1rem;
        font-size: 4.8rem;
        color: #563b56;
      }
      .group-35-qjP {
        top: 30rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 63.3rem;
        height: 27.2rem;
        position: absolute;
        left: 14.2rem;

        .auto-group-27xd-yah {
          box-sizing: border-box;
          padding-bottom: 1.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-rx3d-KPf {
            height: 5.9rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            width: 46.3rem;

            .vector-reV {
              height: 5.9rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.9rem;
            }
            .register-for-the-phir-se-udaan-event-CyF {
              color: #563b56;
              width: 43.9rem;
              height: 5.6rem;
              position: absolute;
              top: 0;
              font-size: 2.3rem;
              line-height: 2.4347826087;
              letter-spacing: 0.092rem;
              white-space: nowrap;
              left: 2.4rem;
              font-weight: 400;
              font-family: Chivo, 'Source Sans Pro';
            }
          }
          .auto-group-rg1d-Hzh {
            margin-bottom: 0.1rem;
            width: 56.9rem;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .vector-3DB {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.9rem;
              height: 5.9rem;
            }
            .get-a-chance-to-be-mentored-by-hr-professionals-from-established-organziations-PXw {
              height: 5.5rem;
              left: 2.4rem;
              font-size: 2.3rem;
              color: #563b56;
              font-family: Chivo, 'Source Sans Pro';
              width: 54.5rem;
              position: absolute;
              top: 1.5rem;
              font-weight: 400;
              line-height: 1.19;
              letter-spacing: 0.092rem;
            }
          }
          .auto-group-lcas-rgR {
            flex-shrink: 0;
            width: 58.5rem;
            height: 5.9rem;
            position: relative;

            .vector-QC9 {
              width: 5.9rem;
              height: 5.9rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
            .explore-career-opportunities-in-different-fields-8P3 {
              left: 2.4rem;
              font-size: 2.3rem;
              font-weight: 400;
              letter-spacing: 0.092rem;
              height: 2.8rem;
              position: absolute;
              top: 1.6rem;
              line-height: 1.19;
              color: #563b56;
              font-family: Chivo, 'Source Sans Pro';
              white-space: nowrap;
              width: 56.1rem;
            }
          }
        }
        .auto-group-wmtm-zg9 {
          width: 100%;
          height: 5.9rem;
          position: relative;
          flex-shrink: 0;

          .vector-9Z3 {
            object-fit: contain;
            vertical-align: top;
            width: 5.9rem;
            height: 5.9rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .get-upskilled-in-data-analytics-business-analytics-Vcu {
            position: absolute;
            left: 2.4rem;
            top: 1.6rem;
            font-size: 2.3rem;
            line-height: 1.19;
            color: #563b56;
            white-space: nowrap;
            height: 2.8rem;
            font-weight: 400;
            letter-spacing: 0.092rem;
            font-family: Chivo, 'Source Sans Pro';
            width: 60.9rem;
          }
        }
      }
      .vector-yY5 {
        left: 3.3rem;
        top: 37.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 3rem;
        position: absolute;
      }
      .vector-7PP {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 6.645rem;
        top: 47.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-xfxt-SRf {
      width: 99.1rem;
      height: 63.9rem;
      position: relative;
      flex-shrink: 0;

      .group-29-B8M {
        object-fit: contain;
        vertical-align: top;
        width: 33.7rem;
        height: 43.4rem;
        position: absolute;
        left: 65.4rem;
        top: 19.7rem;
      }
      .vector-Jyf {
        height: 63.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        width: 65.9rem;
      }
      .group-35-eXj {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 57.2rem;
        height: 21.3rem;
        position: absolute;
        left: 3rem;
        top: 21.7rem;

        .auto-group-c2aj-nP3 {
          box-sizing: border-box;
          padding-bottom: 0.1rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-aymm-iXb {
            position: relative;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            width: 43.3rem;
            height: 5.9rem;

            .vector-FnR {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.9rem;
              height: 5.9rem;
            }
            .get-access-to-over-500-experience-women-professionals-oow {
              color: #563b56;
              font-family: Chivo, 'Source Sans Pro';
              position: absolute;
              left: 2.4rem;
              letter-spacing: 0.092rem;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.19;
              width: 40.9rem;
              height: 5.5rem;
              top: 0;
            }
          }
          .auto-group-eum1-WCZ {
            width: 49.8rem;
            height: 7rem;
            position: relative;
            flex-shrink: 0;

            .vector-Tdb {
              vertical-align: top;
              width: 5.9rem;
              height: 5.9rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .increase-your-brand-value-by-recruiting-women-who-have-taken-a-career-break-19K {
              width: 47.4rem;
              height: 5.5rem;
              left: 2.4rem;
              top: 1.5rem;
              color: #563b56;
              font-family: Chivo, 'Source Sans Pro';
              position: absolute;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.19;
              letter-spacing: 0.092rem;
            }
          }
        }
        .auto-group-zshq-5us {
          width: 100%;
          height: 7.1rem;
          position: relative;
          flex-shrink: 0;

          .vector-qu3 {
            vertical-align: top;
            width: 5.9rem;
            height: 5.9rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
          }
          .mentor-women-professional-and-give-them-the-confidence-to-restart-their-careers-12q {
            letter-spacing: 0.092rem;
            color: #563b56;
            font-family: Chivo, 'Source Sans Pro';
            width: 54.8rem;
            left: 2.4rem;
            top: 1.6rem;
            font-size: 2.3rem;
            font-weight: 400;
            line-height: 1.19;
            height: 5.5rem;
            position: absolute;
          }
        }
      }
      .you-are-a-hr-recruitment-professional-tMX {
        left: 3rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.1549999714;
        color: #563b56;
        font-family: Rakkas, 'Source Sans Pro';
        width: 32.7rem;
        height: 22.2rem;
        position: absolute;
        top: 2.8rem;
        letter-spacing: 0.48rem;
        text-transform: capitalize;
      }
      .group-37-N1o {
        left: 15.6rem;
        top: 53.2rem;
        align-items: center;
        border-radius: 0.8rem;
        width: 34.8rem;
        font-size: 3.6rem;
        letter-spacing: 0.144rem;
        height: 6.7rem;
        line-height: 1.49;
        color: #563b56;
        white-space: nowrap;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
        font-weight: 400;
        font-family: Rakkas, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        background-color: #f3ce59;
        position: absolute;
      }
    }
  }
  .background-Xoo {
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:1:538');
    flex-shrink: 0;
    margin-bottom: 10.9rem;
    height: 48.9rem;
    overflow: hidden;
    position: relative;

    .auto-group-bwdd-qZb {
      flex-shrink: 0;
      width: 110.1rem;
      height: 100%;
      position: relative;

      .vector-nDw {
        position: absolute;
        left: 51.8rem;
        top: 42.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 3rem;
      }
      .vector-KUm {
        height: 35.4rem;
        position: absolute;
        left: 0;
        top: 5.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 35.4rem;
      }
      .vector-Tay {
        vertical-align: top;
        width: 80.431rem;
        height: 87.9985rem;
        position: absolute;
        left: 13.6rem;
        top: 0;
        object-fit: contain;
      }
      .tdh-logoenglish-CYZ {
        vertical-align: top;
        width: 47rem;
        height: 12.0744rem;
        position: absolute;
        left: 29.8rem;
        top: 30.1rem;
        object-fit: cover;
      }
      .artboard-103x-1-vzM {
        width: 83.3rem;
        height: 22.2rem;
        position: absolute;
        left: 11.6rem;
        top: 42.2rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-bpek-TUV {
      flex-direction: column;
      flex-shrink: 0;
      margin: 9.705rem 4.871rem 0rem 0rem;
      width: 62.8rem;
      align-items: center;
      display: flex;

      .auto-group-e8vu-BfP {
        height: 27.8rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 2.405rem;
        width: 100%;

        .vector-8qX {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 51.845rem;
          top: 24.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-HCd {
          color: #000000;
          font-family: Chivo, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2.8rem;
          letter-spacing: 0.112rem;
          width: 62.8rem;
          height: 27.7rem;
          font-weight: 400;
          line-height: 1.4099999837;

          .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-HCd-sub-0 {
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.4099999837;
            letter-spacing: 0.112rem;
            color: #000000;
            font-family: Chivo, 'Source Sans Pro';
          }
          .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-HCd-sub-1 {
          }
          .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-HCd-sub-2 {
            letter-spacing: 0.112rem;
            color: #000000;
            font-family: Chivo, 'Source Sans Pro';
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.4099999837;
          }
          .phir-se-udaan-is-an-initiative-by-your-favourite-tenali-double-horse-with-a-vision-to-empower-women-inside-and-outside-the-house-tenali-double-horse-offers-only-the-best-quality-and-nutrition-packed-range-of-dals-and-instant-foods-like-idli-and-dosa-mixes-HCd-sub-3 {
          }
        }
      }
      .vector-NfK {
        margin-left: 4.2rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-l4um-X2R {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 40.6917rem;
      height: 73.3527rem;
      position: relative;
    }
  }
  .group-41-SQH {
    width: 100%;
    background-color: #563b56;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.168rem 21.831rem 13.4rem 22.134rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 405.9403rem;
    height: 42.4rem;

    .auto-group-z9hq-kA5 {
      margin: 0rem 0.303rem 1.949rem 0rem;
      width: calc(100% - 0.303rem);
      height: 9.9805rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-40-U65 {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-right: 131.2244rem;
        height: 100%;

        .auto-group-fpcb-DJZ {
          margin: 0rem 0.501rem 0.005rem 0rem;
          width: 6.8893rem;
          flex-shrink: 0;

          .auto-group-qwb1-MQm {
            display: flex;
            align-items: flex-end;
            margin-bottom: 0.4615rem;

            .vector-hDj {
              flex-shrink: 0;
              margin: 0rem 0.316rem 0.001rem 0rem;
              width: 1.9236rem;
              height: 2.7443rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-pp9 {
              height: 2.7444rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.3943rem;
              width: 1.7532rem;
            }
            .vector-MJH {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.392rem 0.001rem 0rem;
              width: 0.6558rem;
              height: 2.8651rem;
              object-fit: contain;
            }
            .vector-5k5 {
              margin-bottom: 0.0009rem;
              width: 1.2783rem;
              height: 2.0868rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-y2v3-pxZ {
            display: flex;
            align-items: center;
            width: 100%;

            .vector-neV {
              margin-right: 0.5005rem;
              width: 3.1222rem;
              height: 4.4647rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-LR7 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0064rem;
              width: 3.2666rem;
              height: 4.4567rem;
            }
          }
        }
        .auto-group-rh5h-57o {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 10.72rem;
          height: 100%;
          align-items: center;

          .auto-group-opu1-pbB {
            width: calc(100% - 2.0139rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.377rem 0.333rem 0.637rem;

            .vector-M5K {
              margin: 1.13rem 0.278rem 0rem 0rem;
              width: 1.8678rem;
              height: 2.8733rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Gxy {
              width: 1.9548rem;
              height: 2.1293rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 1.819rem 0.503rem 0rem 0rem;
            }
            .vector-Crd {
              vertical-align: top;
              flex-shrink: 0;
              width: 4.1024rem;
              height: 6.235rem;
              object-fit: contain;
            }
          }
          .auto-group-hdyt-kt9 {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-v1w {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.001rem 0.501rem 0rem 0rem;
              width: 3.3611rem;
              height: 3.4109rem;
            }
            .vector-rAV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.001rem 0.627rem 0rem 0rem;
              width: 3.3611rem;
              height: 3.4109rem;
            }
            .vector-BiZ {
              margin-bottom: 0.0805rem;
              width: 2.8705rem;
              height: 3.3315rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .social-Kpm {
        margin: 4.743rem 0rem 3.225rem 0rem;
        height: calc(100% - 7.9683rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-es3 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.3119rem;
          width: 1.078rem;
          height: 2.0122rem;
          object-fit: contain;
        }
        .vector-bnH {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.312rem 0.144rem 0rem;
          width: 1.581rem;
          height: 1.581rem;
          object-fit: contain;
        }
        .vector-jdb {
          margin: 0rem 4.312rem 0.144rem 0rem;
          width: 1.5092rem;
          height: 1.581rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-4vm {
          margin-bottom: 0.0353rem;
          width: 1.7247rem;
          height: 1.402rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .rectangle-1b7 {
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 0.303rem 2.659rem 0rem;
      width: 168.1627rem;
      height: 0.1437rem;
    }
    .auto-group-vqwm-wjf {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 10.1rem;

      .auto-group-ryky-JKK {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 8.5051rem;

        .copyright-2022-laa-FVT {
          flex-shrink: 0;
          margin: 0.143rem 87.066rem 0rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-32-kBK {
          margin-bottom: 1.4162rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .strategic-partner-6FB {
            line-height: 2.1875;
            color: #ffffff;
            white-space: nowrap;
            margin: 0rem 0rem 1.495rem 0.405rem;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 0.064rem;
            font-family: Chivo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .magsmen-new-version-bBw {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 16.8949rem;
            height: 3.6888rem;
          }
        }
      }
      .group-33-X5b {
        width: 15.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .marketing-weapons-logo-final-2-fxV {
          width: 6.5rem;
          height: 7.5rem;
          position: absolute;
          left: 4.3rem;
          top: 2.6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .marketing-partner-CSd {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Chivo, 'Source Sans Pro';
          white-space: nowrap;
          width: 15.4rem;
          height: 3.5rem;
          font-weight: 400;
          line-height: 2.1875;
          letter-spacing: 0.064rem;
        }
      }
    }
  }
  .group-25-VAq {
    width: 54.0652rem;
    height: 62.8619rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    opacity: 0.23;
  }
}
